pkgbase = devtools-aarch64
	pkgdesc = Tools for Arch Linux package maintainers adapted for Fuji Linux and aarch64
	pkgver = 1.1.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/FujiLinux/devtools
	arch = any
	license = GPL
	makedepends = asciidoc
	makedepends = shellcheck
	depends = arch-install-scripts
	depends = awk
	depends = bash
	depends = binutils
	depends = coreutils
	depends = diffutils
	depends = fakeroot
	depends = findutils
	depends = grep
	depends = jq
	depends = openssh
	depends = parallel
	depends = rsync
	depends = sed
	depends = util-linux
	depends = breezy
	depends = git
	depends = mercurial
	depends = subversion
	optdepends = btrfs-progs: btrfs support
	provides = devtools
	conflicts = devtools
	replaces = devtools-git-poc
	replaces = devtools
	source = https://github.com/FujiLinux/devtools/releases/download/v1.1.1-fuji/devtools-1.1.1-fuji.tar.gz
	source = https://github.com/FujiLinux/devtools/releases/download/v1.1.1-fuji/devtools-1.1.1-fuji.tar.gz.sig
	validpgpkeys = FB398BBE527AFF9D7F4C34C9069381A0EC5A60D0
	sha256sums = c9ea16cbf6bc59cbbeb066dd5a57a39f25c29e30c863b35f63d2804459e122c6
	sha256sums = SKIP
	b2sums = 17903b0f86fe3157f7991128150f8b4793c154174f472f3c2662b5a71724b5b585353e0eb6af71f10ad2a7cebff7513b3936affacdea225a0c1f0c44ede8e760
	b2sums = SKIP

pkgname = devtools-aarch64
