pkgbase = fujilinux-keyring
	pkgdesc = Fuji Linux PGP keyring
	pkgver = 20240317
	pkgrel = 1
	url = https://github.com/FujiLinux/fujilinux-keyring
	install = fujilinux-keyring.install
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-coverage
	checkdepends = python-pytest
	makedepends = git
	makedepends = python
	makedepends = sequoia-sq
	makedepends = pkgconf
	makedepends = systemd
	depends = pacman
	source = fujilinux-keyring::git+https://github.com/FujiLinux/fujilinux-keyring.git#tag=8fe455e27e35a55a15d714637024b69f9dceab89?signed
	validpgpkeys = FB398BBE527AFF9D7F4C34C9069381A0EC5A60D0
	sha256sums = SKIP

pkgname = fujilinux-keyring
