pkgbase = fujilinux-keyring
	pkgdesc = Fuji Linux PGP keyring
	pkgver = 20240331
	pkgrel = 1
	url = https://github.com/FujiLinux/fujilinux-keyring
	install = fujilinux-keyring.install
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-coverage
	checkdepends = python-pytest
	makedepends = git
	makedepends = python
	makedepends = sequoia-sq
	makedepends = pkgconf
	makedepends = systemd
	depends = pacman
	source = fujilinux-keyring::git+https://github.com/FujiLinux/fujilinux-keyring.git#tag=8fe455e27e35a55a15d714637024b69f9dceab89?signed
	validpgpkeys = A3C5EBBF43FBA5F829F1A2548D66762250C07E85
	sha256sums = SKIP

pkgname = fujilinux-keyring
